.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Procesamiento de frutas y verduras
            h1.curso-titulo Técnicas de conservación para productos derivados de frutas y hortalizas

            .brand-line-primary

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6

            .d-none.d-lg-block
            
                img(src="assets/images/header/header_media.png", style="max-width: 100%")