include ../mixins/functions

+pageHeader('Técnicas de conservación para productos derivados de frutas y hortalizas', 'assets/images/header/header_media.png')

.container#impacto

    .row-12

        h1 Introducción

        .brand-line-primary
    
    .row-12

        hr(style="border: solid 2px; color: #0085D5")

        p Las diferentes técnicas de conservación han permitido alargar la vida de anaquel de las frutas, verduras y sus derivados manteniendo sus características organolépticas y su disponibilidad en cualquier época del año.

        p Las tecnologías actuales buscan reducir los impactos al medio ambiente y minimizar el uso de sustancias químicas teniendo en cuenta las reacciones metabólicas que continúan en productos hortofrutícolas y que influyen en los procesos de deterioro.

        p Esta actividad de aprendizaje trata sobre las diversas técnicas de conservación que se aplican a productos derivados de frutas y hortalizas, enfatizando en los métodos de almacenamiento y envasado actuales.

        hr(style="border: solid 2px; color: #0085D5")