include ../mixins/functions

+pageHeader('Técnicas de conservación para productos derivados de frutas y hortalizas', 'assets/images/header/header_media.png')

.container#impacto

    .header-ecored

        h1 Introducción
    
    .row.mx-0

        .col-12

            hr.linea

            p Las diferentes técnicas de conservación han permitido alargar la vida de anaquel de las frutas, verduras y sus derivados, manteniendo sus características organolépticas y su disponibilidad en cualquier época del año.

            p Las tecnologías actuales buscan reducir los impactos al medio ambiente y minimizar el uso de sustancias químicas teniendo en cuenta las reacciones metabólicas que continúan en productos hortofrutícolas y que influyen en los procesos de deterioro.

            p Este material de formación aborda las diversas técnicas de conservación que se aplican a productos derivados de frutas y hortalizas, enfatizando en los métodos de almacenamiento y envasado actuales.

            hr.linea