.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                th.text-center Enlace del Recurso o Archivo del documento o material

        tbody

            tr
                td 
                    strong FAO. (2004). Conservación de frutas y hortalizas mediante tecnologías combinadas, Manual de capacitación.
                td Capítulo de manual
                td 
                    a(href="http://www.fao.org/3/a-y5771s.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td
                    strong Canal13C. (2018). ¿Qué son las bolsas de Atmósfera Modificada? | Inventando Chile.
                td Video
                td 
                    a(href="https://www.youtube.com/watch?v=XcCqP6xAW_0", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver

