.container

  ol

    li
      p 
        | Arthey D. & Ashurst P.R. (1997). Procesado de frutas. Zaragoza: Acribia S.A.
        
    li
      p 
        | Bosquez E. y Colina M. (2012). 
        i Procesamiento térmico de frutas y hortalizas. 
        | México: Trillas. 

    li
      p 
        | Canal13C. (2018, Octubre 23). 
        i ¿Qué son las bolsas de Atmósfera Modificada? | Inventando Chile. 
        | [Archivo de video]. 
        a(href="https://www.youtube.com/watch?v=XcCqP6xAW_0", target="_blank") https://www.youtube.com/watch?v=XcCqP6xAW_0

    li
      p 
        | De Michelis A. (2006). 
        i Elaboración y conservación de frutas y hortalizas: procedimientos para el hogar y para pequeños emprendimientos comerciales. 
        | Buenos Aires: Hemisferio Sur S.A.

    li
      p 
        | FAO. (2004). 
        i Conservación de frutas y hortalizas mediante tecnologías combinadas, Manual de capacitación. 
        | pp. 2-17. Roma, Italia. 
        a(href="http://www.fao.org/3/a-y5771s.pdf", target="_blank") hhttp://www.fao.org/3/a-y5771s.pdf

    li
      p 
        | Kitinoja L. & Kader A. (1995). 
        i Manual de prácticas de manejo postcosecha de los productos hortofrutícolas a pequeña escala. 
        | Departamento de Pomología, Universidad de California. Davis, California.

    li
      p 
        | Lesur L. (2011). 
        i Manual de conservación de alimentos: una guía paso a paso. 2ª Ed. 
        | México: Trillas.

    li
      p 
        | Magaña W., & Balbín, A., & Corrales, G., & Saucedo, V., & Sauri, D. (2010). 
        i Frutas de pitahaya (hylocereus undatus) frigoconservadas a 4ºC en atmósferas controladas. 
        | Revista Iberoamericana de Tecnología Postcosecha, 11 (2), pp. 143-147. 
        a(href="http://www.redalyc.org.bdigital.sena.edu.co/articulo.oa?id=81315809005", target="_blank") http://www.redalyc.org.bdigital.sena.edu.co/articulo.oa?id=81315809005

    li
      p 
        | Mendoza, Roca, Calixto. (2016). 
        i Manual práctico para gestión logística: envase y embalaje, transporte y cadena de frío, preservación de productos del agro. 
        | Barranquilla: Universidad del Norte.

    li
      p 
        | Meyer M. & Paltrinieri G. (2010). 
        i Elaboración de frutas y hortalizas.  
        | México: Trillas.

    li
      p 
        | Muñoz, M.T. (2013). 
        i Envasado de conservas vegetales. 
        | Málaga: IC Editorial.

    li
      p 
        | Ospina Meneses, S., & Cartagena Valenzuela, J. (2008). 
        i La atmósfera modificada: una alternativa para la conservación de los alimentos. Revista Lasallista de Investigación, 5 (2), pp. 112-123. 
        a(href="http://www.redalyc.org.bdigital.sena.edu.co/articulo.oa?id=695502", target="_blank") http://www.redalyc.org.bdigital.sena.edu.co/articulo.oa?id=695502

    li
      p 
        | Parry, R. (1993). 
        i Envasado de los alimentos en atmósfera modificada. A. Madrid Vicente, Ediciones. 
        | Madrid: España.