//Colores base del material de formación
$brand-color-dark: #0085D5;
$text-color-dark: #000000;

//Esto lo puede cambiar por el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #F3F7FA;
$text-color-light: #FFFFFF;
$brand-color-secondary: #E6E5E7;